@include component(card){
    width: 20.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-bg);
    border-radius: var(--radius);
    box-shadow: -8px 20px 64px -19px rgba(0,0,0,0.3);

    @include part(cover){
        width: 100%;
        height: 140px;
        margin-block-end: 4.5em;

        border-radius: var(--radius) var(--radius) 0 0;
    }

    @include part(profile-img){
        position: absolute;
        width: 105px;
        height: 105px;
        top: 90px;
        left: 112px;
        border: 5px #fff solid;
        border-radius: 50%;
    }

    @include part(name){
        display: inline;
        margin-inline-end: 0.5em;
        color: var(--primary-color);
        font-weight: 700;
        font-size: 1.1rem;
    }

    @include part(friends-count){
        color: var(--secondary-color);
        font-size: 1.1rem;
    }

    @include part(location){
        color: var(--tertiary-color);
        font-size: 0.9rem;
        font-family: 400;

        margin-block-start: 0.5em;
        margin-block-end: 1.5em;
    }

    @include part(status){
        align-self: stretch;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        text-align: center;

        border-block-start: 0.5px var(--tertiary-color) solid;
        padding-block: 1.5em;
        padding-inline: 1.6em;
        
        @include part(item){

            @include part(value){
                color: var(--primary-color);
                font-weight: 700;
                font-size: 1.2rem;
                
                margin-block-end: 0.3rem;
            }

            @include part(title){
                color: var(--tertiary-color);
                font-weight: 700;
                font-size: 0.6rem;
                letter-spacing: 0.2em;
            }
        }
    }
}