//  there are the styles for the header, footer, the grid system, etc

body {
    background-color: var(--main-bg);

    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    --size1: 400px;
    --size2: 550px;
    background-size: var(--size1) var(--size1), var(--size2) var(--size2);
    background-position: calc(-1 * var(--size1) / 2) calc(-1 * var(--size1) / 2), calc(100vw - var(--size2) / 2 + 50px) calc(100vh - var(--size2) / 2);

    @include desktop {
        --size1: 80vw;
        --size2: 80vw;
        background-position: calc(-1 * var(--size1) / 2 + 100px) calc(-1 * var(--size1) / 2), calc(100vw - var(--size2) / 2 - 170px) calc(100vh - var(--size2) / 2 + 200px);
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}